.font1{
  font-family: 'Montserrat', sans-serif;
}
.text-red{
  color: #F9004D
}
.text-fat{
font-weight: 900;
}
.btn-red{
  background-color: #F9004D;
  color: white;
  border: 2px solid black;
}
.header-primary{
  color: #1c4efd;
  background-image: -webkit-linear-gradient(-45deg,#fc00c7 0,#1c4efd 54%,#00aded 100%);
  background-image: linear-gradient(135deg,#fc00c7 0,#1c4efd 54%,#00aded 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-secondary{
  color: #0c1a4e;
  font-weight: 800;
}
